textarea {
    resize: none;
}

#foto-img {
    max-width: 360px;
    width: 100%;
    height: auto;
}

.icone-preview, .icone-tabela {
    width: 100%;
    max-width: 128px;
    height: auto;

    border-radius: 6px;
}

.icone-tabela {
    max-width: 32px;
}