textarea {
    resize: none;
}

#foto-img {
    max-width: 360px;
    width: 100%;
    height: auto;
}

.icone-preview, .icone-tabela {
    width: 100%;
    max-width: 128px;
    height: auto;

    border-radius: 6px;
}

.icone-tabela {
    max-width: 32px;
}

.form-fs .title {
    font-size: 18px;
    font-weight: bold;
}

.fs-container label {
    font-size: 16px;
}

.image-preview {
    border: 1px dashed rgb(200, 200, 200);
}

.image-preview-empty i {
    font-size: 48px;
}

.image-preview-empty h3 {
    font-size: 22px;
}

.image-preview-empty p {
    font-size: 16px;
}

.error-input {
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgba(253, 13, 13, 0.25) !important;
}