* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SOME COLORS */
.text-c1 {
    color: rgb(51 65 85);
}


/* MAIN HEADER */
a:visited, a:link{
    text-decoration: none;
}

#main-header {
    height: 62px;

    position: sticky;
    top: 0;
    width: 100%;

    background-color: rgb(248, 249, 250);

    z-index: 999;
}

#main-header.scrolled {
    box-shadow: 0 0 10px 2px #a0a0a0;
}

.btn-login {
    color: #fff;
    background-color: #2563EB;
    border: 2px solid #2563EB;
}

.btn-register {
    color: #000;
    border: 2px solid #2563EB;
}

.btn-register:hover,
.btn-login:hover,
.nav-link:hover
{
    background-color: #8584845f;
    border-radius: 6px;
}

textarea {
    resize: none;
}

#foto-img {
    max-width: 360px;
    width: 100%;
    height: auto;
}

.icone-preview,
.table-icon {
    width: 100%;
    max-width: 128px;
    height: auto;

    border-radius: 6px;
}

.table-icon {
    max-width: 32px;
}

.form-fs .title {
    font-size: 18px;
    font-weight: bold;
}

.fs-container label {
    font-size: 16px;
}

.image-preview {
    border: 1px dashed rgb(200, 200, 200);
}

.image-preview-empty i {
    font-size: 48px;
}

.image-preview-empty h3 {
    font-size: 22px;
}

.image-preview-empty p {
    font-size: 16px;
}

.error-input {
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgba(253, 13, 13, 0.25) !important;
}

/* INDEX */
.image-wrapper {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ADMIN HEADER */
#admin-header #left-info {
    font-weight: 700;
}

/* SIDEBAR */
.sidebar {
    background-color: rgb(30, 58, 138);

    
    color: white;
    padding: 1.5rem;
    
    display: flex;
    flex-direction: column;
    
    position: sticky;   
    height: 100vh;
    overflow-y: auto;
    top: 0;
}


.sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-transform: uppercase;
    font-weight: 700;
}


.logo-icon {
    background: white;
    color: rgb(30, 58, 138);
    
    padding: 5px 8px;
    
    border-radius: 6px;
}


.sidebar-divider {
    border-top: 1px solid rgb(200, 200, 200);
    margin: 15px 0;
}


.nav-custom-link {
    display: flex;
    align-items: center;
    
    gap: 12px;
    padding: 8px;
    
    color: #bfdbfe;

    text-decoration: none;
    text-align: left;
    
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    
    transition: all 0.3s;
    
    border: none;
    
    background: transparent;
    
    width: 100%;
}


.nav-custom-link span {
    font-size: 14px;
}


.nav-custom-link:hover, 
.nav-custom-link.active,
.submenu-link:hover, 
.submenu-link.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;

    border-radius: 6;
}



/* SIDEBAR (DROPDOWN) */
.dropdown-content-custom {
    max-height: 0;

    overflow: hidden;

    transition: max-height 0.3s ease-out;
    
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}


.dropdown-active .dropdown-content-custom {
    max-height: 300px;
    margin-top: 5px;
}


.dropdown-arrow {
    display: inline-block;

    transition: transform 200ms ease-in-out;
    
    font-size: 12px;
}


.rotate-180 {
    transform: rotate(180deg);
}


.submenu-link {
    font-size: 0.85rem;
    padding: 8px;

    color: #dbeafe;

    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: 0.2s;
}


.submenu-link:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
}


.dot {
    width: 4px;
    height: 4px;

    background-color: rgb(99, 207, 250);

    border-radius: 50%;
}


/* SIDEBAR FOOTER */
.sidebar-footer {
    margin-top: auto;
    padding-top: 1.5rem;

    border-top: 1px solid rgba(255, 255, 255, 0.1);
    
    display: flex;
    align-items: center;
    gap: 12px;
}


.avatar-circle {
    width: 40px;
    height: 40px;

    background: rgb(37, 99, 235);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    font-size: 0.8rem;
}


.user-name {
    margin: 0;
    font-size: 0.75rem; 
    font-weight: 700;

    font-size: 14px;
}


#logout-button {
    font-size: 12px; 
    color: rgb(99, 207, 250);
    opacity: 0.7; 
    font-style: italic;
    text-decoration: none;

    background-color: 0;
}

#logout-button:hover {
    cursor: pointer;
}

/* PRODUCT */
.white-bg {
    box-shadow: 0 0 10px 2px #bebebe;
    border-radius: 6px;
}

#product-info {
    box-shadow: 0 0 10px 5px #bebebe;
    border-radius: 6px;
}

#product-info {
    padding: 25px;
}

#product-info #brand {
    color: rgba(30, 58, 138, 1);

    background-color: rgba(107, 150, 209, 0.3);

    padding: 5px 10px;
    font-weight: 600;
    font-size: 14px;

    border-radius: 40px;
}

#product-info #model-name {
    font-size: 28px;
    margin-top: 5px;
}

#product-info #model-info {
    margin-bottom: 20px;
}

#product-info #price #real-price {
    font-size: 18px;
    font-weight: 500;

    color: rgb(148, 163, 184);
    text-decoration: line-through;
}

#product-info #price #current-price {
    font-size: 28px;
    color: rgb(49, 202, 54);
    font-weight: 700;
}

#product-info #price #extra-payments-info {
    font-size: 12px;
    font-weight: 600;

    color: rgb(83, 91, 100);

    margin-bottom: 20px;
}

#product-info .contact i {
    font-size: 24px;
    margin-right: 13px;
}

#product-info .contact a {
    text-decoration: none;
}

#product-info .contact #talk-consultant {
    background-color: rgb(30, 58, 138);

    padding: 10px;
    border-radius: 6px;

    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

#product-info .contact #talk-consultant i {
    color: rgb(0, 255, 8);
}

#product-info .contact #test-drive {
    padding: 10px;
    border-radius: 6px;

    color: rgb(71, 85, 105);
    font-weight: 500;
    font-size: 14px;

    border: 2px solid rgb(30, 58, 138);
}

#pictures .picture {
    width: 96px;
    height: 64px;
}

#galery #main-image {
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0 -5px 10px 3px #bebebe;
}

#pictures {
    padding: 10px;

    box-shadow: 0 2px 10px 3px #bebebe;
    border-radius: 0px 0px 6px 6px;
}

#pictures li {
    display: inline;
    margin: 0 5px;
}

#pictures .picture {
    border: none;
    opacity: 0.6;
}

#pictures .active {
    border: 2px solid rgb(30, 58, 138);
    border-radius: 8px;

    opacity: 1;
}

#pictures .picture img {
    object-fit: cover;
    border-radius: 6px;
}

.basic-info-card {
    width: 48%;
}

.basic-info-card i {
    font-size: 24px;
    color: rgb(30, 58, 138);
}

.basic-info-card .info-name {
    color: rgb(148, 163, 184);

    font-size: 12px;
    font-weight: 700;

    text-transform: uppercase;
}

.basic-info-card .value {
    color: rgb(30, 41, 59);
    font-weight: 700;

    font-size: 14px;
}

.info-card-title {
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 15px;
}

.info-card-title span {
    display: inline-block;
    
    width: 4px;
    height: 24px; /* title size + 4px */

    background-color: rgb(30, 58, 138);
    border-radius: 26px;
    flex-shrink: 0;
}


#vehicle-items-list li .content {
    background-color: rgba(99, 207, 250, 0.4);

    padding: 10px;
    border-radius: 6px;
}

#vehicle-items-list .item-icon {
    width: 32px;
    height: 32px;
}

/* LOGIN FORM */
.show-password {
    position: absolute;
    right: 0;

    height: 100%;
    width: auto;
    aspect-ratio: 1;

    background: none;
    border: none;
    
    color: rgb(148, 163, 184);
    z-index: 10;

    font-size: 20px;
}

.show-password:hover {
    color: #5e5d5d;
}

.input-password {
    padding-right: 35px;
}

#auth-form label {
    font-size: 14px;
}

#auth-form a, #no-account-warn a {
    color: rgb(30, 58, 138);
    font-weight: 500;
}

#auth-form .form-control {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(220, 220, 220);

    font-size: 14px;
}

#auth-form input::placeholder {
    color: rgb(139, 151, 167);
}

#auth-form .form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(37, 99, 235, 0.15);
    border-color: rgb(37, 99, 235);
}

.input-group input {
    padding: 12px;
    border-radius: 6px;
}

.input-group:has(.input-icon) > .form-control {
    padding-left: 45px !important;
}

.input-group .input-icon {
    position: absolute;
    left: 10px;

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;

    color: rgb(148, 163, 184);
}

.input-group .input-icon i {
    font-size: 24px;
}

#auth-form #auth-button {
    width: 100%;

    background-color: rgb(30, 58, 138);
    color: #fff;

    border: none;
    border-radius: 6px;
    padding: 12px;

    font-weight: 700;
    font-size: 16px;
}

.auth-header p {
    font-weight: 500;
    color: rgb(100, 116, 139);
}

#accept-info {
    font-size: 14px;
}

#accept-info input {
    width: 20px;
    height: 20px;
}

/* FOOTER */
.footer {
    background-color: #111826;
    text-align: center;

    color: #fff;

    padding: 40px 0;
}

#main-container img {
    max-height: 600px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* 990px é o máximo que o bootstrap aparece o "=", por isso é esse número */
@media only screen and (max-width: 991px){
    /* Quando o menu expande, forçamos um fundo sólido */
    .navbar-collapse {
        background-color: #ffffff !important; /* Ou a cor do seu site */
        padding: 1rem;
        border-radius: 10px;
        margin-top: 10px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        z-index: 999;
    }

    /* Garante que os textos dos links fiquem visíveis sobre o fundo branco */
    .navbar-nav .nav-link {
        color: #333 !important;
        text-align: center;
        padding: 10px 0;
    }
    
    /* Ajuste para os botões não ficarem colados no mobile */
    .auth-content {
        padding-top: 10px;
        border-top: 1px solid #eee;
        margin-top: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .basic-info-card {
        width: 23%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}